* {
    box-sizing: border-box;
}

body {
    background-color: #24353F;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

section {
    background-color: #24353F;
}

input {
    background-color: transparent;
}

input::placeholder {
    color: rgb(167, 172, 177);
}

a{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section{
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}